body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2c2a2a;
    color: #fff;
}
header{
    background-color: #00a5c8;
    padding: 10px 20px;
}

.logo{
  width: 100px;
  padding: 0;
}

main {
  padding: 52px 20px 140px;
  text-align: left;
  background-color: #1e1e1e;
}

h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

p {
  max-width: 600px;
  color: #ddd;
  line-height: 1.5;
}

.features {
  display: flex;

  gap: 20px;
  margin-top: 20px;
  font-weight: bold;
  color: #00a5c8;
}

.botaoIniciar {
  background-color: #00a5c8;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  margin-top: 25px;
}

.botaoIniciar:hover{
    background-color: #0090b0;
}

.reviews {
  background-color: #bfe6f9;
  padding: 20px;
  border-radius: 20px 20px 0 0;
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  color: #000;
}

.review1, .review2, .review3, .review4 {
  background-color: #000000;
  border: 2px #333;
  border-radius: 10px;
  padding: 5px;
  width: 340px;
  font-size: 0.9em;
}

.stars {
  color: #fbbf24;
  font-size: 1.2em;
  margin-bottom: 8px;
}

.author {
  font-weight: bold;
  margin-top: 8px;
}

/* ABAIXO ESTA A PARTE DO REGISTRO.HTML */
.campo {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #00a5c8;
}

input[type="email"], input[type="password"], input[type="name"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 4px;
    box-sizing: border-box; 
    background-color: #3e3e3e;
    color: #fff;
}

#botaoRegistrar {
    background-color: #00a5c8;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    margin-top: 25px;
    width: 100%;
}

#botaoRegistrar:disabled {
    background-color: #555;
    cursor: not-allowed;
}

.mensagem-erro {
    color: #ff4d4d; 
    margin-top: 10px;
    min-height: 20px; 
}

.login-link a {
    color: #00a5c8;
    text-decoration: none;
}