body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2c2a2a;
    color: #fff;
}
header{
    background-color: #00a5c8;
    padding: 10px 20px;
    
}

header .botao-catalogo {
    color: white;
    float: right;
    margin: 30px;
    cursor: pointer; 
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none; 
}
.logo{
  width: 70px;
  padding: 0;
}

main {
  padding: 52px 20px 140px;
  text-align: left;
  background-color: #1e1e1e;
}

h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

p {
  max-width: 600px;
  color: #ddd;
  line-height: 1.5;
}

.titulo-sessao {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #fff;
}


.container1, .container2 {
    display: grid;
    /* grid serve para ficar mais organizado */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px; 
    padding-bottom: 50px;
}

.curso-card { 
    background-color: #000; 
    border: 1px solid #333;
    border-radius: 8px; 
    overflow: hidden; 
    display: flex;
    flex-direction: column; 
    transition: transform 0.2s; 
}

.curso-card:hover {
    transform: translateY(-5px); /* move o card pra cima */
    border-color: #00a5c8; 
}

.curso-imagem img {
    width: 100%; 
    height: 150px; 
    object-fit: cover; 
}

.curso-info {
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
}

.curso-info h3 {
    font-size: 1em;
    margin: 0 0 5px 0;
    line-height: 1.4;
    height: 2.8em; 
    overflow: hidden; 
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.curso-info .instrutor {
    font-size: 0.8em;
    color: #aaa; 
    margin: 5px 0;
}
.progresso {
    font-size: 0.8em;
    color: #aaa;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botao-continuar {
    background-color: transparent;
    border: 1px solid #00a5c8;
    color: #00a5c8;
    padding: 10px;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    margin-top: auto; 
    transition: all 0.3s;
}
.botao-continuar:hover {
    background-color: #00a5c8;
    color: white;
}